<!DOCTYPE html>
<html lang="en">
<head>
  <title>Grillspot analytics</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css" id="bootstrap-css">
        <link href="/static/custom.css" rel="stylesheet" type="text/css" />

</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">CoolOpenDataSite</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="{{url_for('index')}}">Home</a></li>
      <li><a href="{{url_for('display_grill_spots')}}">all grillspots</a></li>
    </ul>
  </div>
</nav>


<div class="container">
  <div class="row row-tile blockrow">
      <div class ="block">
      <p class="h6">forecast</p>
      {{forecast_data}}
      </div>
      <div class ="block">
    <pclass="h6">there are currently {{amount}} people here</p>
      </div>
      <div class ="block">
            <p class="h6">on average there are {{average}} people here</p>
      </div>
      <div class ="block">
        <P class="'h6">people tend to stay for {{stay_time}} minutes</P>
      </div>
    <div>
      <div class ="block">
        <P class="'h6">people come in groups of {{group_size}}</P>
      </div>
    </div>
  </div>
  </div>
</body>
</html>
